//Put your own global variables in here
@import 'variables';
//Overwrite any foundation settings you want to overwrite
@import 'settings';

@import 'bower_components/foundation/scss/normalize';
@import 'foundation';
//Put your own mixins in here
@import 'mixins';

//Import all the scss files you want to import here
@import 'base';

.button {
	background-color: #5F2D8C;
	border-color: #462065;
	text-color: white;
}

.button:hover, .button:focus {
	background-color: #462065;
}

header h2 {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
	padding-top: .4em;
}

h1, h2, h3, h4, h5, h6 {
	color: #5F2D8C; 
	font-family: 'Alegreya Sans', sans-serif;
}

article {
	padding-bottom: 2em;
}

article .left {
	padding: 0 1em 1em 0;
}

article .right {
	padding: 0 0 1em 1em;
}

.topspace {
	padding-top: 3em;
}

.topspace p {
	font-size: 0.8em;
	color: #999;
	font-family: Georgia, serif;
	font-style: italic;
}

footer {
	padding: 2em 0;
	color: #999;
	border-top: 1px solid #ccc;
}

footer p {
	font-size: 0.8em;
}





